# Python stuff
__pycache__/
venv/

# PyCharm stuff
.idea/

# GCP credentials
gcp-credentials.json

# Unit Testing
.coverage
coverage.xml
htmlcov/

# Python Poetry
poetry.lock
dist/

# project files
/test_working_dir
/diff_report.html
